<!DOCTYPE html>
<html ng-app="myApp">
<head>
	<title>
		$interval, $timeout
	</title>
</head>
<script src="Scripts/angular.min.js"></script>
<body>
	  <div ng-controller="myController">
	  	<button ng-click="stop()">Stop</button>
	  	<b ng-repeat="item in items">{{item}}</b>
	  	<hr/>

	  	<input type='text' ng-model="something"/> 
	    <!-- we used this something to get the item values on screen, as we type something it was giving value  -->

	  </div>

	<script>
	   angular.module("myApp", []).
	       controller('myController', ['$scope', '$interval', '$timeout',
	        function($scope, $interval, $timeout){
	        	$scope.items = [];
	        	var i = 0;
	        	var promise = $timeout(function(){
	        		$scope.items.push("I am here");
	        		//$scope.$apply(); // we called timeout method which prints the msg after 1 second
	        	}, 1000)

	        	$scope.stop = function(){

	        		$timeout.cancel(promise);
	        		// We can cancel the timeout function by take promise of timeout
	        	}

	        	// $interval technically returns a promise method.
	       	
	       }])

	</script>

</body>
</html>